.box{
  width:700px;
  height:160px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.btn-for-confirm{
  height:40px;
  width:300px;
}

.btn-for-flavors{
  border-radius: 50px;
  height:100px;
  width:100px;
}

.btn-for-multipleselections{
  border-radius: 35px;
  height:70px;
  width:70px;
  text-align: center;
}

.spacing-top{
  margin-top: 30px;
}

.spacing-for-last-button{
  margin-top:50px;
}

.isMultiple{
  background-color: #52a300;
  border-color:green;
  color: white;
}

.isMultiple:focus{
  background-color: #52a300;
  border-color:green;
  color: white;
}

.isMultiple:hover{
  background-color: #52a300;
  border-color:green;
  color: white;
}

.notMultiple{
  background-color: white;
  border-color:green;
  color: lawngreen;
}

.notMultiple:hover{
  background-color: white;
  border-color:green;
  color: lawngreen;
}

.notMultiple:focus{
  background-color: white;
  border-color:green;
  color: lawngreen;
}

.salty{
  background-color: deepskyblue;
  border-color: blue;
  color: white;
}

.salty:hover{
  background-color: #0ca5ff;
  border-color: blue;
  color: white;
}

.salty:focus{
  background-color: #0ca5ff;
  border-color: blue;
  color: white;
}

.saltymultiple{
  background-color: white;
  border-color: blue;
  color: deepskyblue;
}

.saltymultiple:focus{
  background-color: white;
  border-color: blue;
  color: deepskyblue;
}

.saltymultiple:hover{
  background-color: #d7efff;
  border-color: blue;
  color: deepskyblue;
}

.saltymultipleselected{
  background-color: #0ca5ff;
  border-color: blue;
  color: white;
}

.saltymultipleselected:hover{
  background-color: #0ca5ff;
  border-color: blue;
  color: white;
}

.saltymultipleselected:focus{
  background-color: #0ca5ff;
  border-color: blue;
  color: white;
}



.sweet{
  background-color: hotpink;
  border-color: deeppink;
  color:white;
}

.sweet:hover{
  background-color: palevioletred;
  border-color: mediumvioletred;
  color:white;
}

.sweet:focus{
  background-color: palevioletred;
  border-color: mediumvioletred;
  color:white;
}

.sweetmultiple{
  background-color: white;
  border-color: deeppink;
  color:hotpink;
}

.sweetmultiple:hover{
  background-color: #ffe5e6;
  border-color: mediumvioletred;
  color:hotpink;
}

.sweetmultiple:focus{
  background-color: white;
  border-color: deeppink;
  color:hotpink;
}

.sweetmultipleselected{
  background-color: palevioletred;
  border-color: mediumvioletred;
  color:white;
}

.sweetmultipleselected:hover{
  background-color: palevioletred;
  border-color: mediumvioletred;
  color:white;
}

.sweetmultipleselected:focus{
  background-color: palevioletred;
  border-color: mediumvioletred;
  color:white;
}

.sour{
  background-color: #9fda0a;
  border-color: #87bc0a;
  color:white;
}

.sour:hover{
  background-color: #87bc0a;
  border-color: #5fa500;
  color:white;
}

.sour:focus{
  background-color: #87bc0a;
  border-color: #5fa500;
  color:white;
}

.sourmultiple{
  background-color: white;
  border-color: #87bc0a;
  color:#9fda0a;
}

.sourmultiple:focus{
  background-color: white;
  border-color: #87bc0a;
  color:#9fda0a;
}

.sourmultiple:hover{
  background-color: #eaffd1;
  border-color: #87bc0a;
  color:#9fda0a;
}

.sourmultipleselected{
  background-color: #87bc0a;
  border-color: #5fa500;
  color:white;
}

.sourmultipleselected:focus{
  background-color: #87bc0a;
  border-color: #5fa500;
  color:white;
}

.sourmultipleselected:hover{
  background-color: #87bc0a;
  border-color: #5fa500;
  color:white;
}

.bitter{
  background-color: sandybrown;
  border-color: #c0a16b;
  color:white;
}

.bitter:hover{
  background-color: #c0a16b;
  border-color: #8a6d3b;
  color:white;
}

.bitter:focus{
  background-color: #c0a16b;
  border-color: #8a6d3b;
  color:white;
}

.bittermultiple{
  background-color: white;
  border-color: #c0a16b;
  color:sandybrown;
}

.bittermultiple:focus{
  background-color: white;
  border-color: #c0a16b;
  color:sandybrown;
}

.bittermultiple:hover{
  background-color: #fff2c3;
  border-color: #c0a16b;
  color:sandybrown;
}

.bittermultipleselected{
  background-color: #c0a16b;
  border-color: #8a6d3b;
  color:white;
}

.bittermultipleselected:focus{
  background-color: #c0a16b;
  border-color: #8a6d3b;
  color:white;
}

.bittermultipleselected:hover{
  background-color: #c0a16b;
  border-color: #8a6d3b;
  color:white;
}

.savory{
  background-color: #ff0000;
  border-color: #dc0000;
  color:white;
}

.savory:hover{
  background-color: #dc0000;
  border-color: #cd0000;
  color:white;
}

.savory:focus{
  background-color: #dc0000;
  border-color: #cd0000;
  color:white;
}

.savorymultiple{
  background-color: white;
  border-color: #dc0000;
  color:#ff0000;
}

.savorymultiple:focus{
  background-color: white;
  border-color: #dc0000;
  color:#ff0000;
}

.savorymultiple:hover{
  background-color: #ffcfc8;
  border-color: #cd0000;
  color:#ff0000;
}

.savorymultipleselected{
  background-color: #dc0000;
  border-color: #cd0000;
  color:white;
}

.savorymultipleselected:focus{
  background-color: #dc0000;
  border-color: #cd0000;
  color:white;
}

.savorymultipleselected:hover{
  background-color: #dc0000;
  border-color: #cd0000;
  color:white;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 600px) {
  .container {
    max-width: 700px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
