.box{
  width:300px;
  height:auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.btn-for-confirm{
  height:40px;
  width:300px;
}

.btn-for-flavors{
  border-radius: 50px;
  height:100px;
  width:100px;
}

.btn-for-multipleselections{
  border-radius: 35px;
  height:70px;
  width:70px;
  text-align: center;
}

.spacing-top{
  margin-top: 30px;
}

.spacing-for-last-button{
  margin-top:50px;
}

.sweet{
  background-color: hotpink;
  border-color: deeppink;
}

.sweet:hover{
  background-color: palevioletred;
  border-color: mediumvioletred;
}

.sweet:focus{
  background-color: palevioletred;
  border-color: black;
}

.sweet:active{
  background-color: palevioletred;
  border-color: mediumvioletred;
}

.sweet:active,
.sweet.active,
.open > .dropdown-toggle.sweet {
  background-color: palevioletred;
  border-color: mediumvioletred;
}

.sweet:hover,
.sweet.active:hover,
.open > .dropdown-toggle.sweet:hover,
.sweet:active:focus,
.sweet.active:focus,
.open > .dropdown-toggle.sweet:focus,
.sweet:active.focus,
.sweet.active.focus,
.open > .dropdown-toggle.sweet.focus {
  background-color: palevioletred;
  border-color: mediumvioletred;
}

.bitter{
  background-color: sandybrown;
  border-color: #c0a16b;
}

.bitter:hover{
  background-color: #c0a16b;
  border-color: #8a6d3b;
}

.bitter:focus{
  background-color: #c0a16b;
  border-color: black;
}

.bitter:active{
  background-color: #c0a16b;
  border-color: #8a6d3b;
}

.bitter:active,
.bitter.active,
.open > .dropdown-toggle.bitter {
  background-color: #c0a16b;
  border-color: #8a6d3b;
}

.bitter:hover,
.bitter.active:hover,
.open > .dropdown-toggle.bitter:hover,
.bitter:active:focus,
.bitter.active:focus,
.open > .dropdown-toggle.bitter:focus,
.bitter:active.focus,
.bitter.active.focus,
.open > .dropdown-toggle.bitter.focus {
  background-color: #c0a16b;
  border-color: #8a6d3b;
}

.spicy{
  background-color: #ff0000;
  border-color: #dc0000;
}

.spicy:hover{
  background-color: #dc0000;
  border-color: #cd0000;
}

.spicy:focus{
  background-color: #dc0000;
  border-color: black;
}

.spicy:active{
  background-color: #dc0000;
  border-color: #cd0000;
}

.spicy:active,
.spicy.active,
.open > .dropdown-toggle.spicy {
  background-color: #dc0000;
  border-color: #cd0000;
}

.spicy:hover,
.spicy.active:hover,
.open > .dropdown-toggle.spicy:hover,
.spicy:active:focus,
.spicy.active:focus,
.open > .dropdown-toggle.spicy:focus,
.spicy:active.focus,
.spicy.active.focus,
.open > .dropdown-toggle.spicy.focus {
  background-color: #dc0000;
  border-color: #cd0000;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 600px) {
  .container {
    max-width: 700px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
