<p>This is the GPSView view.</p>
<style>
  #map{
    width: 500px;
    height: 500px;
  }
  body {background-color: rgba(100, 100, 100, 0.4)}
</style>
<div>
  <div ng-controller="GpsviewCtrl" ng-init="request()"><p>Results for recipes</p>

    <p>{{recipe.title}}</p>
    <p>{{recipe.source_url}}</p>
    <p>{{recipe.recipe_id}}</p>
    <p><img src={{recipe.image_url}} alt="Mountain View" style="width:304px;height:228px;">
      {{recipe.image_url}}</p>
    <p>{{ingredients}}</p>

  </div>



  <div id="map"></div>
</div>

<script>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 44.540, lng: -78.546},
      zoom: 8
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApJ9dGbta-RABHnxZd0SO0ch_wmuhXJhQ&callback=initMap">
</script>
