<p>This is the GPSView view.</p>
<style>
  #map{
    width: 500px;
    height: 500px;
  }
</style>
<div>
  <div ng-controller="GpsviewCtrl" ng-init="request()"><p>Results for recipes</p>

    <p>{{recipe[0].title}}</p>
    <p>{{recipe[0].source_url}}</p>
    <p>{{recipe[0].recipe_id}}</p>

  </div>



  <div id="map"></div>
</div>

<script>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: 44.540, lng: -78.546},
      zoom: 8
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApJ9dGbta-RABHnxZd0SO0ch_wmuhXJhQ&callback=initMap">
</script>
