<div ng-controller="MainCtrl">
  <div style="text-align: center;">LOGO</div>
  <br>
  <br>

  <div class="row">
    <div class="col-xs-12 col-xs-offset-5">
      <button ng-click="SaltBtn()" type="button" class="btn btn-default btn-for-flavors">Salty</button>
    </div>
    <br>
    <div class="col-xs-5 col-xs-offset-3">
      <button ng-click="SourBtn()" type="button" class="btn btn-warning spacing-top btn-for-flavors">Sour</button>
    </div>
    <div class="col-xs-4">
      <button ng-click="BitterBtn()" type="button" class="btn btn-primary bitter spacing-top btn-for-flavors">Bitter</button>
    </div>
    <br>
    <div class="col-xs-5 col-xs-offset-3">
      <button ng-click="SweetBtn()" type="button" class="btn btn-success sweet spacing-top btn-for-flavors">Sweet</button>
    </div>
    <div class="col-xs-4">
      <button ng-click="SpicyBtn()" type="button" class="btn btn-danger spacing-top btn-for-flavors">Spicy</button>
    </div>
    <div class="col-xs-12 col-xs-offset-4">
      <a ng-href="#/healthy" class="btn btn-for-confirm btn-success spacing-for-last-button">Continue</a>
    </div>
</div>


  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>


</div>



