<div ng-controller="MainCtrl">

  <style>
    body {background-color: rgba(100, 100, 100, 0.4)}
  </style>
  <div class="row">
    <div class="col-xs-12 col-xs-offset-3">
      <image src="images/templogo.gif" style=" width: auto; height:75px"></image>
    </div>

    <div style="padding-left:70px; padding-top: 30px" class="col-xs-4 col-xs-offset-3">
      <button id="TheSaltyButton" ng-click="SaltBtn()" type="button" class="btn salty spacing-top btn-for-flavors">Salty</button>
    </div>
    <div class="col-xs-4" style="padding-top: 30px; padding-left:30px">
      <button id="TheBitterButton" ng-click="BitterBtn()" type="button" class="btn bitter spacing-top btn-for-flavors">Bitter</button>
    </div>
    <div class="col-xs-12 col-xs-offset-5" style="padding-top: 5px; padding-left: 60px">
      <button id="TheMultipleSelectionButton" ng-click="MultipleSelectionBtn()" type="button" class="btn notMultiple spacing-top btn-for-multipleselections">Multiple <br>Selection</button>
    </div>
    <div style="padding-left:70px; padding-top: 5px" class="col-xs-4 col-xs-offset-3">
      <button id="TheSweetButton" ng-click="SweetBtn()" type="button" class="btn sweet spacing-top btn-for-flavors">Sweet</button>
    </div>
    <div class="col-xs-4" style="padding-top: 5px; padding-left:30px">
      <button id="TheSourButton" ng-click="SourBtn()" type="button" class="btn sour spacing-top btn-for-flavors">Sour</button>
    </div>

    <div ng-show="isMultiple" class="col-xs-12 col-xs-offset-4" style="padding-top: 10px">
      <button id="TheConfirmButton" ng-click="ConfirmBtn()" type="button" class="btn btn-success spacing-top btn-for-confirm">Continue</button>
    </div>

    <div class="col-xs-12 col-xs-offset-4" style="padding-top: 40px">

    </div>
  </div>


</div>



